target/
Cargo.lock.bak
**/*.rs.bk

web/remote/node_modules/
web/remote/dist/
extensions/browser/node_modules/
extensions/browser/dist/

.git/
.gitignore
.dockerignore
Dockerfile
docker/
docs/

**/*.md

.DS_Store
*.log
.vscode/
.idea/

tests/
scripts/
apps/
